openapi: 3.0.0
info:
  title: Morsel API
  version: 1.0.0
  description: Morsel Hospitality management API collection
servers:
  - url: https://us-central1-morsel-db7d8.cloudfunctions.net/app/api/v1

tags:
  - name: Auth
  - name: Business
  - name: Staff
  - name: Branch
  - name: Area
  - name: Space
  - name: Menu
  - name: Menu - Public
    description: Public menu APIs to retrieve business menus and items
  - name: Items - Business
    description: Business APIs to manage menu items, variants, and addons
  - name: Ordering Session - Patron
    description: Public APIs for patrons to start sessions and participate in ordering
  - name: Ordering Session - Business
    description: Business staff APIs to manage active ordering sessions
  - name: Ordering Session - Staff
    description: Staff-specific APIs to manage assigned sessions
  - name: Orders - Business
    description: Business order management and status tracking
  - name: Workflow - Business
    description: Business order workflow configuration and status management
  - name: Billing - Business
    description: Business APIs for managing taxes and charges
  - name: Discounts - Business
    description: Business APIs for managing discount codes and applying discounts
  - name: Discounts - Patron
    description: Patron APIs for applying and removing discount codes

paths:
  # ==================== AUTH ====================
  /auth/admin/register:
    post:
      tags: [Auth]
      summary: Register super admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Super admin registered

  /auth/admin/login:
    post:
      tags: [Auth]
      summary: Login super admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Super admin logged in

  /auth/business/register:
    post:
      tags: [Auth]
      summary: Register business admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                displayName:
                  type: string
                businessName:
                  type: string
                businessType:
                  type: string
              required:
                - email
                - businessName
      responses:
        '201':
          description: Business admin registered

  /auth/business/login:
    post:
      tags: [Auth]
      summary: Login business admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '200':
          description: Business admin logged in

  /auth/patron/register:
    post:
      tags: [Auth]
      summary: Register patron
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Patron registered

  /auth/patron/login:
    post:
      tags: [Auth]
      summary: Login patron
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '200':
          description: Patron logged in

  # ==================== BUSINESS ====================
  /business:
    get:
      tags: [Business]
      summary: Get business info
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Business info
    put:
      tags: [Business]
      summary: Update business info
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Business updated

  # ==================== STAFF ====================
  /business/staff:
    post:
      tags: [Staff]
      summary: Create a new staff member
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  description: Temporary password (backend may generate one)
                name:
                  type: string
                role:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
                    enum:
                      - manage_admins
                      - manage_subscriptions
                      - manage_business
                      - manage_branches
                      - manage_areas
                      - manage_spaces
                      - manage_staff
                      - manage_menus
                      - manage_items
                      - manage_orders
                      - view_analytics
                      - process_payments
                branchId:
                  type: string
                  nullable: true
                schedule:
                  type: object
                status:
                  type: string
                  enum: [active, inactive]
              required:
                - email
                - name
      responses:
        '201':
          description: Staff created
    get:
      tags: [Staff]
      summary: List staff members for the business
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of staff

  /business/staff/{staffId}:
    parameters:
      - in: path
        name: staffId
        required: true
        schema:
          type: string
    put:
      tags: [Staff]
      summary: Update a staff member
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                role: { type: string }
                permissions:
                  type: array
                  items:
                    type: string
                branchId: { type: string, nullable: true }
                schedule: { type: object }
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        '200':
          description: Staff updated

  # ==================== BRANCH ====================
  /business/branch:
    post:
      tags: [Branch]
      summary: Add branch
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
                name:
                  type: string
                address:
                  type: string
              required:
                - businessId
                - name
      responses:
        '201':
          description: Branch added
    get:
      tags: [Branch]
      summary: Get branch list
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of branches

  /business/branch/{branchId}:
    parameters:
      - in: path
        name: branchId
        required: true
        schema:
          type: string
    get:
      tags: [Branch]
      summary: Get branch by id
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Branch details
    put:
      tags: [Branch]
      summary: Update branch
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
                name:
                  type: string
                address:
                  type: string
              required:
                - businessId
                - name
      responses:
        '200':
          description: Branch updated

  # ==================== AREA ====================
  /business/{branchId}/areas:
    parameters:
      - in: path
        name: branchId
        required: true
        schema:
          type: string
    post:
      tags: [Area]
      summary: Create a new area under a branch
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                capacity:
                  type: integer
              required:
                - name
      responses:
        '201':
          description: Area created
    get:
      tags: [Area]
      summary: Get all areas for a branch
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of areas

  /business/{branchId}/areas/{id}:
    parameters:
      - in: path
        name: branchId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
    get:
      tags: [Area]
      summary: Get area by id
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Area details
    put:
      tags: [Area]
      summary: Update area
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                capacity:
                  type: integer
      responses:
        '200':
          description: Area updated

  # ==================== SPACE ====================
  /business/{areaId}/spaces:
    parameters:
      - in: path
        name: areaId
        required: true
        schema:
          type: string
    post:
      tags: [Space]
      summary: Create a new space within an area
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                areaId:
                  type: string
                businessId:
                  type: string
                type:
                  type: string
                number:
                  type: string
                name:
                  type: string
                capacity:
                  type: integer
              required:
                - areaId
                - businessId
                - type
      responses:
        '201':
          description: Space created
    get:
      tags: [Space]
      summary: Get all spaces in area
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of spaces

  /business/{areaId}/spaces/{spaceId}:
    parameters:
      - in: path
        name: areaId
        required: true
        schema:
          type: string
      - in: path
        name: spaceId
        required: true
        schema:
          type: string
    get:
      tags: [Space]
      summary: Get space by ID
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Space details
    put:
      tags: [Space]
      summary: Update space
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Space updated
    delete:
      tags: [Space]
      summary: Delete space
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Space deleted

  # ==================== MENU (Business CRUD) ====================
  /business/menus:
    post:
      tags: [Menu]
      summary: Create menu
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Menu created
    get:
      tags: [Menu]
      summary: Get all menus
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of menus

  /business/menus/{menuId}:
    parameters:
      - in: path
        name: menuId
        required: true
        schema:
          type: string
    get:
      tags: [Menu]
      summary: Get menu by ID
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Menu details
    put:
      tags: [Menu]
      summary: Update menu
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Menu updated
    delete:
      tags: [Menu]
      summary: Delete menu
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Menu deleted

  # ==================== MENU - PUBLIC ====================
  /business/menus/active/{businessId}:
    get:
      tags: [Menu - Public]
      summary: Get all active menus with items for a business
      description: Retrieve all active menus for a business with their menu items populated (public endpoint)
      parameters:
        - in: path
          name: businessId
          required: true
          schema:
            type: string
        - in: query
          name: branchId
          required: false
          schema:
            type: string
          description: Optional branch ID to filter menus by current time using branch timezone
      responses:
        '200':
          description: List of active menus with items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        businessId: { type: string }
                        name: { type: string }
                        description: { type: string, nullable: true }
                        type:
                          type: string
                          enum: [food, beverage, service, product]
                        availability:
                          type: array
                          description: Array of availability windows, empty means always available
                          items:
                            type: object
                            properties:
                              startTime: { type: string }
                              endTime: { type: string }
                              days:
                                type: array
                                items: { type: string }
                        status:
                          type: string
                          enum: [active, inactive]
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id: { type: string }
                              name: { type: string }
                              description: { type: string, nullable: true }
                              price: { type: number }
                              category: { type: string }
                              status:
                                type: string
                                enum: [active, inactive]
                              vegetarian: { type: boolean }
                              vegan: { type: boolean }
                              spicy: { type: boolean }
                        sections:
                          type: array
                          items:
                            type: object
                            properties:
                              section_id: { type: string }
                              name: { type: string }
                              description: { type: string, nullable: true }
                              order: { type: integer }
                              isActive: { type: boolean }
                              category_type: { type: string, nullable: true }
                              items:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id: { type: string }
                                    name: { type: string }
                                    price: { type: number }
        '404':
          description: Business not found

  # ==================== ORDERING SESSION - PATRON ====================
  /ordering-session/space/{spaceId}:
    get:
      tags: [Ordering Session - Patron]
      summary: Get space and active session info
      parameters:
        - in: path
          name: spaceId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Space, business, and session information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      space: { type: object }
                      business: { type: object }
                      session:
                        type: object
                        nullable: true
                        properties:
                          id: { type: string }
                          status: { type: string }
                          expiresAt: { type: string, format: date-time }
                      participantsCount: { type: integer }
        '404':
          description: Space not found

  /ordering-session/start:
    post:
      tags: [Ordering Session - Patron]
      summary: Start or join an ordering session
      description: Start a new ordering session for a space or join an existing active session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - spaceId
              properties:
                spaceId: { type: string }
                guestName: { type: string, nullable: true }
      responses:
        '201':
          description: Session created or joined successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: string }
                      spaceId: { type: string }
                      businessId: { type: string }
                      status: { type: string }
                      participants:
                        type: array
                        items: { type: object }
                      orders:
                        type: array
                        items: { type: object }
                      expiresAt: { type: string, format: date-time }
                      createdAt: { type: string, format: date-time }
        '400':
          description: Invalid request

  /ordering-session/session/{sessionId}:
    get:
      tags: [Ordering Session - Patron]
      summary: Get session details
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object }
        '404':
          description: Session not found or expired

  /ordering-session/session/{sessionId}/participant:
    post:
      tags: [Ordering Session - Patron]
      summary: Add participant to session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                patronId: { type: string, nullable: true }
                guestName: { type: string, nullable: true }
      responses:
        '200':
          description: Participant added successfully
        '400':
          description: Either patronId or guestName must be provided
        '404':
          description: Session not found

  /ordering-session/session/{sessionId}/queue:
    post:
      tags: [Ordering Session - Patron]
      summary: Upsert order queue for session user
      description: Add or update queued items for a participant before confirming order
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sessionUserId
                - items
              properties:
                sessionUserId: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    required: [itemId, quantity]
                    properties:
                      itemId: { type: string }
                      quantity: { type: integer }
                      variantIndex: { type: integer, default: 0 }
                      addOns:
                        type: array
                        items:
                          type: object
                          required: [addonIndex, selectedOptions]
                          properties:
                            addonIndex: { type: integer }
                            selectedOptions:
                              type: array
                              items: { type: integer }
      responses:
        '200':
          description: Queue updated successfully

  /ordering-session/session/{sessionId}/queue/confirm:
    post:
      tags: [Ordering Session - Patron]
      summary: Confirm queued items and create order
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionUserId]
              properties:
                sessionUserId: { type: string }
                paymentType:
                  type: string
                  enum: [cash, card, online]
                  default: cash
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: string }
                      sessionId: { type: string }
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            itemId: { type: string }
                            name: { type: string }
                            quantity: { type: integer }
                            variantIndex: { type: integer }
                            variantName: { type: string }
                            variantPrice: { type: number }
                            addOns:
                              type: array
                              items:
                                type: object
                                properties:
                                  addonIndex: { type: integer }
                                  addonName: { type: string }
                                  selectedOptions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name: { type: string }
                                        price: { type: number }
                                  optionsTotalPrice: { type: number }
                            addonsTotalPrice: { type: number }
                            unitPrice: { type: number }
                            itemTotal: { type: number }
                      total: { type: number }
                      status: { type: string }
        '400':
          description: Invalid session user or no queued items

  /ordering-session/session/{sessionId}/call-attendant:
    post:
      tags: [Ordering Session - Patron]
      summary: Call attendant for assistance
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Attendant call sent successfully
        '404':
          description: Session not found

  /ordering-session/session/{sessionId}/end:
    put:
      tags: [Ordering Session - Patron]
      summary: End ordering session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                endedBy: { type: string, default: manual }
      responses:
        '200':
          description: Session ended successfully

  /ordering-session/session/{sessionId}/bill:
    get:
      tags: [Ordering Session - Patron, Ordering Session - Business]
      summary: Get bill for an ordering session
      description: Calculate and retrieve the complete bill including all orders, taxes, charges, and tips
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Bill calculated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId: { type: string }
                  businessId: { type: string }
                  branchId: { type: string }
                  spaceId: { type: string }
                  participants:
                    type: array
                    items:
                      type: object
                      properties:
                        sessionUserId: { type: string }
                        name: { type: string }
                        phone: { type: string }
                        isHost: { type: boolean }
                        orders:
                          type: array
                          items:
                            type: object
                            properties:
                              id: { type: string }
                              orderNumber: { type: string }
                              status: { type: string }
                              items:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    itemId: { type: string }
                                    name: { type: string }
                                    quantity: { type: integer }
                                    unitPrice: { type: number }
                                    itemTotal: { type: number }
                              subtotal: { type: number }
                              taxAmount: { type: number }
                              discountAmount: { type: number }
                              totalAmount: { type: number }
                        tip: { type: number }
                        subtotal: { type: number }
                        total: { type: number }
                  sessionSummary:
                    type: object
                    properties:
                      totalOrders: { type: integer }
                      totalParticipants: { type: integer }
                      subtotal: { type: number }
                      taxAmount: { type: number }
                      chargeAmount: { type: number }
                      discountAmount: { type: number }
                      tipAmount: { type: number }
                      grandTotal: { type: number }
                  taxes:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        rate: { type: number }
                        type: { type: string, enum: [percentage, fixed] }
                        amount: { type: number }
                  charges:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        amount: { type: number }
                        type: { type: string, enum: [percentage, fixed] }
                        calculatedAmount: { type: number }
        '404':
          description: Session not found

  /ordering-session/session/{sessionId}/tip:
    post:
      tags: [Ordering Session - Patron]
      summary: Add tip to ordering session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tip: { type: number }
                sessionUserId: { type: string }
      responses:
        '200':
          description: Tip added successfully
        '400':
          description: Invalid tip data
        '404':
          description: Session or participant not found

  /ordering-session/session/{sessionId}/tip/participant:
    post:
      tags: [Ordering Session - Patron]
      summary: Add or update tip for a specific participant
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionUserId, tip]
              properties:
                sessionUserId: { type: string }
                tip: { type: number }
      responses:
        '200':
          description: Participant tip added/updated successfully
        '400':
          description: Invalid tip data
        '404':
          description: Session or participant not found
    delete:
      tags: [Ordering Session - Patron]
      summary: Remove tip for a specific participant
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionUserId]
              properties:
                sessionUserId: { type: string }
      responses:
        '200':
          description: Participant tip removed successfully
        '404':
          description: Session or participant not found

  /ordering-session/session/{sessionId}/tips:
    get:
      tags: [Ordering Session - Patron]
      summary: Get tips for an ordering session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
        - in: query
          name: sessionUserId
          required: false
          schema:
            type: string
          description: Optional participant ID to filter tips
      responses:
        '200':
          description: Tips retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId: { type: string }
                  tips:
                    type: array
                    items:
                      type: object
                      properties:
                        sessionUserId: { type: string }
                        tip: { type: number }
                        createdAt: { type: string, format: date-time }
                        updatedAt: { type: string, format: date-time }
                  totalTipAmount: { type: number }
        '404':
          description: Session not found

  /ordering-session/session/{sessionId}/split:
    post:
      tags: [Ordering Session - Patron, Ordering Session - Business]
      summary: Calculate bill split for a session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:
                  type: string
                  enum: [equal, participant, custom, itemized]
                numberOfSplits: { type: integer }
                amounts:
                  type: array
                  items: { type: number }
                itemIds:
                  type: array
                  items:
                    type: array
                    items: { type: string }
      responses:
        '200':
          description: Split calculated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      total: { type: number }
                      splits:
                        type: array
                        items:
                          type: object
                          properties:
                            index: { type: integer }
                            amount: { type: number }
                            paid: { type: boolean }
                            paidAt: { type: string, format: date-time, nullable: true }
                            paidBy: { type: string, nullable: true }
                            method: { type: string, nullable: true }
                            sessionUserId: { type: string, nullable: true }
                      allPaid: { type: boolean }
        '400':
          description: Invalid split parameters
        '404':
          description: Session not found

  /ordering-session/session/area-single-order:
    post:
      tags: [Ordering Session - Patron]
      summary: Start area-wise ordering session and/or append single order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionId: { type: string }
                areaId: { type: string }
                guestName: { type: string }
                patronId: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      itemId: { type: string }
                      quantity: { type: integer }
                      variantIndex: { type: integer }
                      addOns:
                        type: array
                        items:
                          type: object
                          properties:
                            addonIndex: { type: integer }
                paymentType: { type: string }
                businessId: { type: string }
      responses:
        '200':
          description: Session started and/or order added successfully
        '400':
          description: Bad request
        '404':
          description: Area or session not found

  /ordering-session/session/{sessionId}/ordered-items:
    get:
      tags: [Ordering Session - Patron, Ordering Session - Business]
      summary: Get all ordered items for a session
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ordered items retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId: { type: string }
                  orderedItems:
                    type: array
                    items:
                      type: object
                      properties:
                        itemId: { type: string }
                        name: { type: string }
                        quantity: { type: integer }
                        variantName: { type: string }
                        variantPrice: { type: number }
                        totalQuantity: { type: integer }
        '404':
          description: Session not found

  /ordering-session/session/{sessionId}/receipt:
    get:
      tags: [Ordering Session - Patron, Ordering Session - Business]
      summary: Generate receipt for session
      description: Generate HTML receipt (optional sessionUserId for user-specific receipt)
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
        - in: query
          name: sessionUserId
          required: false
          schema:
            type: string
      responses:
        '200':
          description: HTML receipt generated successfully
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Session not found

  # ==================== ORDERING SESSION - BUSINESS ====================
  /ordering-session/business/active:
    get:
      tags: [Ordering Session - Business]
      summary: Get all active ordering sessions for business
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of active sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        spaceId: { type: string }
                        businessId: { type: string }
                        status: { type: string }
                        participantsCount: { type: integer }
                        ordersCount: { type: integer }
                        expiresAt: { type: string, format: date-time }
                        notes: { type: string, nullable: true }
                        createdAt: { type: string, format: date-time }
                        updatedAt: { type: string, format: date-time }
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /ordering-session/business/session/{sessionId}:
    put:
      tags: [Ordering Session - Business]
      summary: Update ordering session details
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionExpiryMinutes:
                  type: integer
                  minimum: 10
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Session updated successfully
        '400':
          description: Invalid expiry minutes
        '403':
          description: Session does not belong to this business

  /ordering-session/business/session/{sessionId}/assign-staff:
    put:
      tags: [Ordering Session - Business]
      summary: Assign staff member to session
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [staffId]
              properties:
                staffId: { type: string }
      responses:
        '200':
          description: Staff assigned to session
        '400':
          description: Invalid staff ID
        '404':
          description: Session or staff not found

  /ordering-session/business/session/{sessionId}/acknowledge-call:
    put:
      tags: [Ordering Session - Business]
      summary: Acknowledge attendant call
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Attendant call acknowledged
        '404':
          description: Session not found

  /ordering-session/business/session/{sessionId}/change-space:
    put:
      tags: [Ordering Session - Business]
      summary: Change space assigned to session
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newSpaceId]
              properties:
                newSpaceId: { type: string }
                reason: { type: string }
      responses:
        '200':
          description: Session space changed successfully
        '400':
          description: Invalid space data or space unavailable
        '409':
          description: Space already occupied by another active session

  /ordering-session/session/{sessionId}/split/{splitIndex}/pay:
    put:
      tags: [Ordering Session - Business]
      summary: Mark a split as paid
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
        - in: path
          name: splitIndex
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: number }
                method: { type: string }
                paidBy: { type: string }
      responses:
        '200':
          description: Split marked as paid successfully
        '400':
          description: Invalid split or payment data
        '404':
          description: Session not found

  # ==================== ORDERING SESSION - STAFF ====================
  /ordering-session/staff/sessions:
    get:
      tags: [Ordering Session - Staff]
      summary: Get all sessions assigned to staff
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of assigned sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        spaceId: { type: string }
                        businessId: { type: string }
                        status: { type: string }
                        participantsCount: { type: integer }
                        ordersCount: { type: integer }
                        assignedAt: { type: string, format: date-time, nullable: true }
                        expiresAt: { type: string, format: date-time }
                        notes: { type: string, nullable: true }
                        createdAt: { type: string, format: date-time }
                        updatedAt: { type: string, format: date-time }
        '401':
          description: Unauthorized

  /ordering-session/staff/session/{sessionId}:
    put:
      tags: [Ordering Session - Staff]
      summary: Update assigned session
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notes: { type: string, nullable: true }
                status: { type: string }
                clearAttendantCall: { type: boolean }
                unassign: { type: boolean }
      responses:
        '200':
          description: Session updated successfully
        '403':
          description: Session not assigned to this staff member

  # ==================== ORDERS - BUSINESS ====================
  /orders/fetch/{id}:
    get:
      tags: [Orders - Business]
      summary: Get order by ID
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: string }
                      businessId: { type: string }
                      spaceId: { type: string }
                      sessionId: { type: string }
                      sessionUserId: { type: string }
                      patronId: { type: string, nullable: true }
                      guestName: { type: string, nullable: true }
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            itemId: { type: string }
                            name: { type: string }
                            quantity: { type: number }
                            unitPrice: { type: number }
                            totalPrice: { type: number }
                      total: { type: number }
                      status:
                        type: string
                        enum: [pending, confirmed, preparing, ready, served, completed, cancelled, refunded]
                      payment:
                        type: object
                        properties:
                          type: { type: string }
                          paid: { type: boolean }
                      createdAt: { type: string, format: date-time }
                      updatedAt: { type: string, format: date-time }
        '404':
          description: Order not found

  /orders/{id}/status:
    put:
      tags: [Orders - Business]
      summary: Update order status
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, confirmed, preparing, ready, served, completed, cancelled, refunded]
      responses:
        '200':
          description: Order status updated
        '400':
          description: Invalid status value
        '404':
          description: Order not found

  /orders/{id}/split:
    post:
      tags: [Orders - Business]
      summary: Split bill for an order
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [splits]
              properties:
                splits:
                  type: array
                  items:
                    type: object
                    required: [amount]
                    properties:
                      amount: { type: number }
                      description: { type: string, nullable: true }
      responses:
        '200':
          description: Bill split successfully
        '400':
          description: Split amounts do not match total
        '404':
          description: Order not found

  /orders/business:
    get:
      tags: [Orders - Business]
      summary: Get all orders by business
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: List of business orders
        '401':
          description: Unauthorized

  /orders/space/{spaceId}/session:
    get:
      tags: [Orders - Business]
      summary: Get orders for active space session
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: spaceId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of orders in active session
        '404':
          description: Space or active session not found

  /orders/space/{spaceId}/add:
    post:
      tags: [Orders - Business]
      summary: Add order to space
      description: Create a new order for a space, creating a session if needed
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: spaceId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required: [itemId, quantity]
                    properties:
                      itemId: { type: string }
                      quantity: { type: number }
                      variantIndex: { type: integer, default: 0 }
                      addOns:
                        type: array
                        items:
                          type: object
                          required: [addonIndex, selectedOptions]
                          properties:
                            addonIndex: { type: integer }
                            selectedOptions:
                              type: array
                              items: { type: integer }
                guestName: { type: string, nullable: true }
                paymentType: { type: string, default: cash }
      responses:
        '201':
          description: Order created successfully
        '400':
          description: Invalid input or no items provided
        '404':
          description: Space or menu items not found

  /orders/incoming:
    get:
      tags: [Orders - Business]
      summary: Get incoming confirmed orders
      description: Fetch all confirmed/incoming orders with optional filters by branch, area, or space
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: branchId
          schema: { type: string }
        - in: query
          name: areaId
          schema: { type: string }
        - in: query
          name: spaceId
          schema: { type: string }
      responses:
        '200':
          description: Incoming orders retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        orderId: { type: string }
                        spaceId: { type: string }
                        spaceName: { type: string, nullable: true }
                        areaId: { type: string, nullable: true }
                        areaName: { type: string, nullable: true }
                        branchId: { type: string, nullable: true }
                        branchName: { type: string, nullable: true }
                        sessionId: { type: string, nullable: true }
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              itemId: { type: string }
                              name: { type: string }
                              quantity: { type: number }
                              unitPrice: { type: number }
                              totalPrice: { type: number }
                        total: { type: number }
                        status: { type: string }
                        payment:
                          type: object
                          properties:
                            type: { type: string }
                            paid: { type: boolean }
                        createdAt: { type: string, format: date-time }
                  count: { type: number }
        '401':
          description: Unauthorized

  /orders/{orderId}/workflow-status:
    put:
      tags: [Orders - Business]
      summary: Update order workflow status
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workflowStatus]
              properties:
                workflowStatus: { type: string }
      responses:
        '200':
          description: Order workflow status updated
        '404':
          description: Order or workflow status not found

  /orders/history:
    get:
      tags: [Orders - Business]
      summary: Get order history with pagination, search, and date filters
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 10 }
        - in: query
          name: search
          schema: { type: string }
          description: Search by order number (exact match)
        - in: query
          name: startDate
          schema: { type: string, format: date-time }
        - in: query
          name: endDate
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Order history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        orderNumber: { type: string }
                        status: { type: string }
                        totalAmount: { type: number }
                        taxAmount: { type: number }
                        discountAmount: { type: number }
                        finalAmount: { type: number }
                        items:
                          type: array
                          items: { type: object }
                        createdAt: { type: string, format: date-time }
                  pagination:
                    type: object
                    properties:
                      page: { type: integer }
                      limit: { type: integer }
                      total: { type: integer }
                      totalPages: { type: integer }

  /orders/{id}:
    put:
      tags: [Orders - Business]
      summary: Edit order details
      description: Edit order details (only allowed when order status is CONFIRMED)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      itemId: { type: string }
                      name: { type: string }
                      quantity: { type: integer }
                      variantIndex: { type: integer }
                      variantName: { type: string }
                      variantPrice: { type: number }
                      addOns:
                        type: array
                        items:
                          type: object
                          properties:
                            name: { type: string }
                            price: { type: number }
                      addonsTotalPrice: { type: number }
                      unitPrice: { type: number }
                      itemTotal: { type: number }
                      notes: { type: string }
                notes: { type: string }
                specialInstructions: { type: string }
      responses:
        '200':
          description: Order updated successfully
        '400':
          description: Invalid order data or order not in CONFIRMED status
        '404':
          description: Order not found

  /orders/area/{areaId}/add:
    post:
      tags: [Orders - Business]
      summary: Add order to area
      description: Add order to area (creates session if needed or adds to existing active session)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: areaId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                guestName: { type: string }
                sessionId: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      itemId: { type: string }
                      quantity: { type: integer }
                      variantIndex: { type: integer }
                      addOns:
                        type: array
                        items:
                          type: object
                          properties:
                            addonIndex: { type: integer }
      responses:
        '201':
          description: Order added successfully
        '400':
          description: Bad request

  # ==================== WORKFLOW - BUSINESS ====================
  /business/workflow/order/{branchId}:
    get:
      tags: [Workflow - Business]
      summary: Get order workflow for branch
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: branchId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of workflow statuses
        '404':
          description: Branch not found

  /business/workflow/status/{branchId}:
    post:
      tags: [Workflow - Business]
      summary: Add workflow status to branch
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: branchId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, color]
              properties:
                title: { type: string }
                color: { type: string }
      responses:
        '201':
          description: Workflow status created
        '400':
          description: Missing required fields

  /business/workflow/status/{branchId}/{statusId}:
    parameters:
      - in: path
        name: branchId
        required: true
        schema:
          type: string
      - in: path
        name: statusId
        required: true
        schema:
          type: string
    put:
      tags: [Workflow - Business]
      summary: Update workflow status
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                color: { type: string }
      responses:
        '200':
          description: Status updated successfully
    delete:
      tags: [Workflow - Business]
      summary: Delete workflow status
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Status deleted successfully

  /business/workflow/reorder/{branchId}:
    put:
      tags: [Workflow - Business]
      summary: Reorder workflow statuses
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: branchId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [statusIds]
              properties:
                statusIds:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: Workflow reordered successfully
        '400':
          description: Invalid or empty statusIds array

  /business/workflow/setup-default/{branchId}:
    post:
      tags: [Workflow - Business]
      summary: Setup default 5-step workflow
      description: |
        Initialize default workflow: Incoming, Accepted, Ready, Served, Billing Completed
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: branchId
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Default workflow setup successfully
        '400':
          description: Workflow already exists for this branch

  # ==================== ITEMS - BUSINESS ====================
  /business/items:
    post:
      tags: [Items - Business]
      summary: Create a new menu item
      description: Create a new menu item with optional variants and addons
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price]
              properties:
                name: { type: string }
                description: { type: string }
                price: { type: number }
                image: { type: string }
                category: { type: string }
                isVegetarian: { type: boolean, default: false }
                variants:
                  type: array
                  items:
                    type: object
                    required: [name, price]
                    properties:
                      name: { type: string }
                      price: { type: number }
                addons:
                  type: array
                  items:
                    type: object
                    required: [name, minOptions, maxOptions, options]
                    properties:
                      name: { type: string }
                      minOptions: { type: integer, minimum: 0 }
                      maxOptions: { type: integer, minimum: 1 }
                      options:
                        type: array
                        items:
                          type: object
                          required: [name, price]
                          properties:
                            name: { type: string }
                            price: { type: number }
      responses:
        '201':
          description: Menu item created successfully
        '400':
          description: Invalid input - name and price are required

  /business/items/{itemId}/addons:
    post:
      tags: [Items - Business]
      summary: Add an addon category to an existing menu item
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: itemId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, minOptions, maxOptions, options]
              properties:
                name: { type: string }
                minOptions: { type: integer, minimum: 0 }
                maxOptions: { type: integer, minimum: 1 }
                options:
                  type: array
                  items:
                    type: object
                    required: [name, price]
                    properties:
                      name: { type: string }
                      price: { type: number }
      responses:
        '200':
          description: Addon added successfully
        '404':
          description: Item not found

  /business/items/{itemId}/taxes:
    put:
      tags: [Items - Business]
      summary: Assign taxes to a menu item
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: itemId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                taxIds:
                  type: array
                  items: { type: string }
                overrideTaxRate: { type: number }
      responses:
        '200':
          description: Taxes assigned successfully
        '404':
          description: Item or tax not found

  /business/items/bulk-assign-taxes:
    post:
      tags: [Items - Business]
      summary: Bulk assign taxes to multiple menu items
      description: Assign taxes by category or specific item IDs
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [taxIds]
              properties:
                category: { type: string }
                itemIds:
                  type: array
                  items: { type: string }
                taxIds:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: Taxes assigned to items successfully
        '400':
          description: Invalid data or no valid items found

  # ==================== BILLING - BUSINESS ====================
  /business/billing/config:
    get:
      tags: [Billing - Business]
      summary: Get billing configuration
      description: Retrieve billing config including taxes and charges
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Billing configuration retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  taxes:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        rate: { type: number }
                        type: { type: string, enum: [percentage, fixed] }
                        isActive: { type: boolean }
                  charges:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        amount: { type: number }
                        type: { type: string, enum: [percentage, fixed] }
                        isActive: { type: boolean }

  /business/billing/taxes:
    get:
      tags: [Billing - Business]
      summary: Get all taxes
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Taxes retrieved successfully
    post:
      tags: [Billing - Business]
      summary: Add tax configuration
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                percentage: { type: number }
                description: { type: string }
      responses:
        '201':
          description: Tax added successfully

  /business/billing/taxes/{taxId}:
    parameters:
      - in: path
        name: taxId
        required: true
        schema:
          type: string
    get:
      tags: [Billing - Business]
      summary: Get a specific tax
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Tax retrieved successfully
        '404':
          description: Tax not found
    put:
      tags: [Billing - Business]
      summary: Update an existing tax
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, rate, type]
              properties:
                name: { type: string }
                rate: { type: number }
                type: { type: string, enum: [percentage, fixed] }
                isActive: { type: boolean, default: true }
      responses:
        '200':
          description: Tax updated successfully
        '404':
          description: Tax not found
    delete:
      tags: [Billing - Business]
      summary: Delete a tax
      security: [{ bearerAuth: [] }]
      responses:
        '204':
          description: Tax deleted successfully
        '404':
          description: Tax not found

  /business/billing/charges:
    get:
      tags: [Billing - Business]
      summary: Get all charges
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Charges retrieved successfully
    post:
      tags: [Billing - Business]
      summary: Add charge configuration
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                type: { type: string, enum: [percentage, fixed] }
                amount: { type: number }
                description: { type: string }
                applicableFor: { type: string }
      responses:
        '201':
          description: Charge added successfully

  /business/billing/charges/{chargeId}:
    parameters:
      - in: path
        name: chargeId
        required: true
        schema:
          type: string
    get:
      tags: [Billing - Business]
      summary: Get a specific charge
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Charge retrieved successfully
        '404':
          description: Charge not found
    put:
      tags: [Billing - Business]
      summary: Update an existing charge
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, amount, type]
              properties:
                name: { type: string }
                amount: { type: number }
                type: { type: string, enum: [percentage, fixed] }
                isActive: { type: boolean, default: true }
      responses:
        '200':
          description: Charge updated successfully
        '404':
          description: Charge not found
    delete:
      tags: [Billing - Business]
      summary: Delete a charge
      security: [{ bearerAuth: [] }]
      responses:
        '204':
          description: Charge deleted successfully
        '404':
          description: Charge not found

  # ==================== DISCOUNTS - BUSINESS ====================
  /discounts/business/discounts:
    post:
      tags: [Discounts - Business]
      summary: Create a new discount code
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, type, value]
              properties:
                code: { type: string }
                description: { type: string }
                type: { type: string, enum: [percentage, fixed] }
                value: { type: number }
                usageLimit: { type: integer }
                isActive: { type: boolean, default: true }
      responses:
        '201':
          description: Discount code created successfully
    get:
      tags: [Discounts - Business]
      summary: Get all discount codes
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Discount codes retrieved successfully

  /discounts/business/discounts/{discountCodeId}:
    parameters:
      - in: path
        name: discountCodeId
        required: true
        schema:
          type: string
    get:
      tags: [Discounts - Business]
      summary: Get a specific discount code
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Discount code retrieved successfully
        '404':
          description: Discount code not found
    put:
      tags: [Discounts - Business]
      summary: Update a discount code
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code: { type: string }
                description: { type: string }
                type: { type: string, enum: [percentage, fixed] }
                value: { type: number }
                usageLimit: { type: integer }
                isActive: { type: boolean }
      responses:
        '200':
          description: Discount code updated successfully
        '404':
          description: Discount code not found
    delete:
      tags: [Discounts - Business]
      summary: Delete a discount code
      security: [{ bearerAuth: [] }]
      responses:
        '204':
          description: Discount code deleted successfully
        '404':
          description: Discount code not found

  /discounts/business/discounts/validate:
    post:
      tags: [Discounts - Business]
      summary: Validate a discount code
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, amount]
              properties:
                code: { type: string }
                amount: { type: number }
      responses:
        '200':
          description: Discount code is valid

  /discount/sessions/{sessionId}/apply-discount:
    post:
      tags: [Discounts - Business]
      summary: Apply discount to a session
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [discountCodeId]
              properties:
                discountCodeId: { type: string }
      responses:
        '200':
          description: Discount applied successfully
        '404':
          description: Session or discount not found

  # ==================== DISCOUNTS - PATRON ====================
  /discounts/sessions/{sessionId}/apply-discount-code:
    post:
      tags: [Discounts - Patron]
      summary: Apply discount code to session (customer-facing)
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        '200':
          description: Discount applied successfully
        '400':
          description: Invalid discount code

  /discounts/sessions/{sessionId}/discount:
    delete:
      tags: [Discounts - Patron]
      summary: Remove discount from session
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Discount removed successfully
        '404':
          description: Session not found

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase Authentication JWT token
