openapi: 3.0.0
info:
  title: Morsel API
  version: 1.0.0
  description: Complete Morsel Hospitality Management API — authentication, business management, staff, branches, areas, spaces,
    menus, items, ordering sessions, orders, billing, payments, secrets, discounts, and workflow.
servers:
- url: https://us-central1-morsel-db7d8.cloudfunctions.net/app/api/v1
tags:
- name: Auth
- name: Business
- name: Staff
- name: Branch
- name: Area
- name: Space
- name: Menu
- name: OrderingSession
- name: Order
- name: Ordering Session - Patron
  description: Public APIs for patrons to start sessions and participate in ordering
- name: Ordering Session - Business
  description: Business staff APIs to manage active ordering sessions
- name: Orders - Business
  description: Business order management and status tracking
- name: Menu - Public
  description: Public menu APIs to retrieve business menus and items
- name: Items - Business
  description: Business APIs to manage menu items, variants, and addons
- name: Billing - Business
  description: Business APIs for managing taxes and charges
- name: Discounts - Business
  description: Business APIs for managing discount codes and applying discounts
- name: Discounts - Patron
  description: Business APIs for managing discount codes and applying discounts
- name: Ordering Session - Staff
  description: Staff-specific APIs to manage assigned sessions
- name: Workflow - Business
  description: Business order workflow configuration and status management
paths:
  /auth/admin/register:
    post:
      tags:
      - Auth
      summary: Register super admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Super admin registered
  /auth/admin/login:
    post:
      tags:
      - Auth
      summary: Login super admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Super admin logged in
  /auth/business/register:
    post:
      tags:
      - Auth
      summary: Register business admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                displayName:
                  type: string
                businessName:
                  type: string
                businessType:
                  type: string
              required:
              - email
              - businessName
      responses:
        '201':
          description: Business admin registered
  /auth/business/login:
    post:
      tags:
      - Auth
      summary: Login business admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
              - email
              - password
      responses:
        '200':
          description: Business admin logged in
  /auth/patron/register:
    post:
      tags:
      - Auth
      summary: Register patron
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Patron registered
  /auth/patron/login:
    post:
      tags:
      - Auth
      summary: Login patron
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
              - email
              - password
      responses:
        '200':
          description: Patron logged in
  /business:
    get:
      tags:
      - Business
      summary: Get business info (super-admin or business-admin depending on implementation)
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Business info
    put:
      tags:
      - Business
      summary: Update business info
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Business updated
  /business/staff:
    post:
      tags:
      - Staff
      summary: Create a new staff member
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  description: Temporary password (backend may generate one)
                name:
                  type: string
                role:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
                    enum:
                    - manage_admins
                    - manage_subscriptions
                    - manage_business
                    - manage_branches
                    - manage_areas
                    - manage_spaces
                    - manage_staff
                    - manage_menus
                    - manage_items
                    - manage_orders
                    - view_analytics
                    - process_payments
                branchId:
                  type: string
                  nullable: true
                schedule:
                  type: object
                  description: Schedule object or null
                status:
                  type: string
                  enum:
                  - active
                  - inactive
              required:
              - email
              - name
      responses:
        '201':
          description: Staff created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type: string
                        description: Firebase uid (userRecord.uid)
                      businessId:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                        format: email
                      role:
                        type: string
                      permissions:
                        type: array
                        items:
                          type: string
                          enum:
                          - manage_admins
                          - manage_subscriptions
                          - manage_business
                          - manage_branches
                          - manage_areas
                          - manage_spaces
                          - manage_staff
                          - manage_menus
                          - manage_items
                          - manage_orders
                          - view_analytics
                          - process_payments
                      branchId:
                        type: string
                        nullable: true
                      schedule:
                        type: object
                        description: Schedule object or null
                      status:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
    get:
      tags:
      - Staff
      summary: List staff members for the business
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of staff
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        userId:
                          type: string
                        businessId:
                          type: string
                        name:
                          type: string
                        email:
                          type: string
                          format: email
                        role:
                          type: string
                        permissions:
                          type: array
                          items:
                            type: string
                        branchId:
                          type: string
                          nullable: true
                        schedule:
                          type: object
                        status:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
  /business/staff/{staffId}:
    parameters:
    - in: path
      name: staffId
      required: true
      schema:
        type: string
      description: Staff document id
    put:
      tags:
      - Staff
      summary: Update a staff member
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                role:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
                    enum:
                    - manage_admins
                    - manage_subscriptions
                    - manage_business
                    - manage_branches
                    - manage_areas
                    - manage_spaces
                    - manage_staff
                    - manage_menus
                    - manage_items
                    - manage_orders
                    - view_analytics
                    - process_payments
                branchId:
                  type: string
                  nullable: true
                schedule:
                  type: object
                status:
                  type: string
                  enum:
                  - active
                  - inactive
      responses:
        '200':
          description: Staff updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type: string
                      businessId:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                        format: email
                      role:
                        type: string
                      permissions:
                        type: array
                        items:
                          type: string
                      branchId:
                        type: string
                        nullable: true
                      schedule:
                        type: object
                      status:
                        type: string
                      updatedAt:
                        type: string
                        format: date-time
  /business/branch:
    post:
      tags:
      - Branch
      summary: Add branch
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
                name:
                  type: string
                address:
                  type: string
              required:
              - businessId
              - name
      responses:
        '201':
          description: Branch added
    get:
      tags:
      - Branch
      summary: Get branch list
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of branches
  /business/branch/{branchId}:
    parameters:
    - in: path
      name: branchId
      required: true
      schema:
        type: string
      description: Branch id
    get:
      tags:
      - Branch
      summary: Get branch by id
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Branch details
    put:
      tags:
      - Branch
      summary: Update branch
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
                name:
                  type: string
                address:
                  type: string
              required:
              - businessId
              - name
      responses:
        '200':
          description: Branch updated
  /business/{branchId}/areas:
    parameters:
    - in: path
      name: branchId
      required: true
      schema:
        type: string
      description: Branch id
    post:
      tags:
      - Area
      summary: Create a new area under a branch
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                capacity:
                  type: integer
              required:
              - name
      responses:
        '201':
          description: Area created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      branchId:
                        type: string
                      businessId:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                        nullable: true
                      capacity:
                        type: integer
                        nullable: true
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
    get:
      tags:
      - Area
      summary: Get all areas for a branch
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of areas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        branchId:
                          type: string
                        businessId:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        capacity:
                          type: integer
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
  /business/{branchId}/areas/{id}:
    parameters:
    - in: path
      name: branchId
      required: true
      schema:
        type: string
      description: Branch id
    - in: path
      name: id
      required: true
      schema:
        type: string
      description: Area id
    get:
      tags:
      - Area
      summary: Get area by id
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Area details
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
      - Area
      summary: Update area
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                capacity:
                  type: integer
      responses:
        '200':
          description: Area updated
  /business/{areaId}/spaces:
    parameters:
    - in: path
      name: areaId
      required: true
      schema:
        type: string
      description: Area id
    post:
      tags:
      - Space
      summary: Create a new space within an area
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                areaId:
                  type: string
                businessId:
                  type: string
                type:
                  type: string
                number:
                  type: string
                name:
                  type: string
                capacity:
                  type: integer
              required:
              - areaId
              - businessId
              - type
      responses:
        '201':
          description: Space created
    get:
      tags:
      - Space
      summary: Get all spaces in area
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of spaces
  /business/{areaId}/spaces/{spaceId}:
    parameters:
    - in: path
      name: areaId
      required: true
      schema:
        type: string
      description: Area id
    - in: path
      name: spaceId
      required: true
      schema:
        type: string
      description: Space id
    get:
      tags:
      - Space
      summary: Get space by ID
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Space details
    put:
      tags:
      - Space
      summary: Update space
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Space updated
    delete:
      tags:
      - Space
      summary: Delete space
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Space deleted
  /business/menus:
    post:
      tags:
      - Menu
      summary: Create menu
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Menu created
    get:
      tags:
      - Menu
      summary: Get all menus
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of menus
  /business/menus/{menuId}:
    parameters:
    - in: path
      name: menuId
      required: true
      schema:
        type: string
      description: Menu id
    get:
      tags:
      - Menu
      summary: Get menu by ID
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Menu details
    put:
      tags:
      - Menu
      summary: Update menu
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Menu updated
    delete:
      tags:
      - Menu
      summary: Delete menu
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Menu deleted
  /ordering-session/start:
    post:
      tags:
      - Ordering Session - Patron
      summary: Start or join an ordering session
      description: Start a new ordering session for a space or join an existing active session. Patron ID is extracted from
        auth token if logged in; otherwise treated as guest.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - spaceId
              properties:
                spaceId:
                  type: string
                  description: Space ID where the session is being started
                guestName:
                  type: string
                  nullable: true
                  description: Guest name (required if not authenticated)
      responses:
        '201':
          description: Session created or joined successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      spaceId:
                        type: string
                      businessId:
                        type: string
                      status:
                        type: string
                      participants:
                        type: array
                        items:
                          type: object
                      orders:
                        type: array
                        items:
                          type: object
                      expiresAt:
                        type: string
                        format: date-time
                      createdAt:
                        type: string
                        format: date-time
        '400':
          description: Invalid request - missing spaceId or authentication/guestName
  /ordering-session/{sessionId}:
    parameters:
    - in: path
      name: sessionId
      required: true
      schema:
        type: string
      description: Ordering session id
    get:
      tags:
      - OrderingSession
      summary: Get session details (auto-end check performed)
      responses:
        '200':
          description: Session info
    put:
      tags:
      - OrderingSession
      summary: Update session (e.g., metadata)
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Session updated
  /ordering-session/{sessionId}/participant:
    parameters:
    - in: path
      name: sessionId
      required: true
      schema:
        type: string
      description: Ordering session id
    post:
      tags:
      - OrderingSession
      summary: Add participant to session (patron or guest)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                patronId:
                  type: string
                  nullable: true
                guestName:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Participant added
  /ordering-session/{sessionId}/end:
    parameters:
    - in: path
      name: sessionId
      required: true
      schema:
        type: string
      description: Ordering session id
    put:
      tags:
      - OrderingSession
      summary: End session manually (business)
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                endedBy:
                  type: string
      responses:
        '200':
          description: Session ended
  /orders:
    post:
      tags:
      - Order
      summary: Place an order (must include sessionId to link)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionId:
                  type: string
                items:
                  type: array
                  items:
                    type: object
                paymentType:
                  type: string
      responses:
        '201':
          description: Order placed
  /orders/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
      description: Order id
    get:
      tags:
      - Order
      summary: Get order by ID
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Order details (items, pricing, participants)
    put:
      tags:
      - Orders - Business
      summary: Edit order details
      description: Edit order details (only allowed when order status is CONFIRMED)
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Order ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  description: Updated order items
                  items:
                    type: object
                    properties:
                      itemId:
                        type: string
                        description: Menu item ID
                      name:
                        type: string
                        description: Item name
                      quantity:
                        type: integer
                        description: Updated quantity
                      variantIndex:
                        type: integer
                        description: Variant index
                      variantName:
                        type: string
                        description: Variant name
                      variantPrice:
                        type: number
                        description: Variant price
                      addOns:
                        type: array
                        description: Add-on details
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Add-on name
                            price:
                              type: number
                              description: Add-on price
                      addonsTotalPrice:
                        type: number
                        description: Total price of add-ons
                      unitPrice:
                        type: number
                        description: Unit price
                      itemTotal:
                        type: number
                        description: Total price for this item
                      notes:
                        type: string
                        description: Special instructions
                notes:
                  type: string
                  description: Order notes
                specialInstructions:
                  type: string
                  description: Special preparation instructions
      responses:
        '200':
          description: Order updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Order ID
                  orderNumber:
                    type: string
                    description: Order number
                  status:
                    type: string
                    enum:
                    - pending
                    - confirmed
                    - preparing
                    - ready
                    - served
                    - cancelled
                    - completed
                    description: Order status
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        itemId:
                          type: string
                          description: Menu item ID
                        name:
                          type: string
                          description: Item name
                        quantity:
                          type: integer
                          description: Item quantity
                        variantIndex:
                          type: integer
                          description: Variant index
                        variantName:
                          type: string
                          description: Variant name
                        variantPrice:
                          type: number
                          description: Variant price
                        addOns:
                          type: array
                          description: Add-on details
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Add-on name
                              price:
                                type: number
                                description: Add-on price
                        addonsTotalPrice:
                          type: number
                          description: Total price of add-ons
                        unitPrice:
                          type: number
                          description: Unit price
                        itemTotal:
                          type: number
                          description: Total price for this item
                        notes:
                          type: string
                          nullable: true
                          description: Special instructions
                  subtotal:
                    type: number
                    description: Order subtotal
                  taxAmount:
                    type: number
                    description: Tax amount
                  discountAmount:
                    type: number
                    description: Discount amount
                  totalAmount:
                    type: number
                    description: Total order amount
                  updatedAt:
                    type: string
                    format: date-time
                    description: Order update timestamp
        '400':
          description: Bad request - invalid order data or order not in CONFIRMED status
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Order not found
    delete:
      tags:
      - Order
      summary: Delete order
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Order deleted
  /orders/{id}/status:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
      description: Order id
    put:
      tags:
      - Orders - Business
      summary: Update order status
      description: Change the status of an order (e.g., preparing, ready, served, completed)
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Order ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum:
                  - pending
                  - confirmed
                  - preparing
                  - ready
                  - served
                  - completed
                  - cancelled
                  - refunded
                  description: New order status
      responses:
        '200':
          description: Order status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                      updatedAt:
                        type: string
                        format: date-time
        '400':
          description: Invalid status value
        '404':
          description: Order not found
  /orders/{id}/complete:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
      description: Order id
    put:
      tags:
      - Order
      summary: Mark order as completed by business
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Order marked completed
  /orders/{id}/split:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
      description: Order id
    post:
      tags:
      - Orders - Business
      summary: Split bill for an order
      description: Divide an order bill among multiple participants
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Order ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - splits
              properties:
                splits:
                  type: array
                  items:
                    type: object
                    required:
                    - amount
                    properties:
                      amount:
                        type: number
                        description: Amount for this split
                      description:
                        type: string
                        nullable: true
                        description: Optional description (e.g., participant name)
              description: Array of split amounts
      responses:
        '200':
          description: Bill split successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        '400':
          description: Split amounts do not match total or invalid input
        '404':
          description: Order not found
  /orders/{id}/pay:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
      description: Order id
    post:
      tags:
      - Order
      summary: Pay for order (placeholder, supports cash/manual or online placeholder)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentType:
                  type: string
                  enum:
                  - cash
                  - online
      responses:
        '200':
          description: Payment recorded (placeholder)
  /orders/business:
    get:
      tags:
      - Orders - Business
      summary: Get all orders by business
      description: Retrieve all orders placed for this business
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: status
        schema:
          type: string
        description: Filter by order status (optional)
      - in: query
        name: limit
        schema:
          type: integer
          default: 50
        description: Maximum number of orders to return
      responses:
        '200':
          description: List of business orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Forbidden - insufficient permissions
  /business/secrets:
    post:
      tags:
      - Secrets
      summary: Store encrypted secret (ciphertext) for a business
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - ciphertext
              properties:
                name:
                  type: string
                  description: Identifier for the secret (e.g., 'peach_creds')
                ciphertext:
                  type: string
                  description: Base64/UTF-8 encoded ciphertext produced by the business; server stores ciphertext as-is
                description:
                  type: string
                  description: Optional human-friendly description
      responses:
        '201':
          description: Secret stored (ciphertext) successfully
        '400':
          description: Invalid request - missing required fields
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Forbidden - insufficient permissions
      description: |
        Stores ciphertext only. The platform will not attempt to decrypt secrets. Use client-side
        encryption before sending secrets to this endpoint.
  /business/secrets/{name}:
    get:
      tags:
      - Secrets
      summary: Retrieve ciphertext for a business secret
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ciphertext retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: object
                    properties:
                      name:
                        type: string
                      ciphertext:
                        type: string
                      description:
                        type: string
        '404':
          description: Secret not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      description: Returns ciphertext only. Client must decrypt locally using their private key.
  /business/menus/active/{businessId}:
    get:
      tags:
      - Menu - Public
      summary: Get all active menus with items for a business
      description: Retrieve all active menus for a business with their menu items populated (public endpoint, no authentication
        required)
      parameters:
      - in: path
        name: businessId
        required: true
        schema:
          type: string
        description: Business ID
      responses:
        '200':
          description: List of active menus with items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Menu ID
                        businessId:
                          type: string
                          description: Business ID
                        name:
                          type: string
                          description: Menu name
                        description:
                          type: string
                          nullable: true
                          description: Menu description
                        type:
                          type: string
                          enum:
                          - food
                          - beverage
                          - service
                          - product
                          description: Menu type
                        availability:
                          type: object
                          properties:
                            startTime:
                              type: string
                              description: Menu availability start time
                            endTime:
                              type: string
                              description: Menu availability end time
                            days:
                              type: array
                              items:
                                type: string
                              description: Days when menu is available
                        status:
                          type: string
                          enum:
                          - active
                          - inactive
                          description: Menu status
                        itemIds:
                          type: array
                          items:
                            type: string
                          description: Array of menu item IDs
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Menu item ID
                              name:
                                type: string
                                description: Item name
                              description:
                                type: string
                                nullable: true
                                description: Item description
                              price:
                                type: number
                                description: Item price
                              category:
                                type: string
                                description: Item category
                              status:
                                type: string
                                enum:
                                - active
                                - inactive
                                description: Item status
                              vegetarian:
                                type: boolean
                                description: Is item vegetarian
                              vegan:
                                type: boolean
                                description: Is item vegan
                              spicy:
                                type: boolean
                                description: Is item spicy
                          description: Array of active menu items
                        sections:
                          type: array
                          description: Array of menu sections with their items
                          items:
                            type: object
                            properties:
                              section_id:
                                type: string
                              name:
                                type: string
                              description:
                                type: string
                                nullable: true
                              order:
                                type: integer
                              isActive:
                                type: boolean
                              category_type:
                                type: string
                                nullable: true
                              items:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    name:
                                      type: string
                                    price:
                                      type: number
                        createdAt:
                          type: string
                          format: date-time
                          description: Menu creation timestamp
                        updatedAt:
                          type: string
                          format: date-time
                          description: Menu last update timestamp
        '404':
          description: Business not found
  /ordering-session/session/{sessionId}/bill:
    get:
      tags:
      - Ordering Session - Patron
      - Ordering Session - Business
      summary: Get bill for an ordering session
      description: Calculate and retrieve the complete bill for an ordering session including all orders, taxes, charges,
        and tips
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      responses:
        '200':
          description: Bill calculated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                    description: Ordering session ID
                  businessId:
                    type: string
                    description: Business ID
                  branchId:
                    type: string
                    description: Branch ID
                  spaceId:
                    type: string
                    description: Space ID
                  participants:
                    type: array
                    items:
                      type: object
                      properties:
                        sessionUserId:
                          type: string
                          description: Session participant ID
                        name:
                          type: string
                          description: Participant name
                        phone:
                          type: string
                          description: Participant phone number
                        isHost:
                          type: boolean
                          description: Whether this participant is the session host
                        orders:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Order ID
                              orderNumber:
                                type: string
                                description: Order number
                              status:
                                type: string
                                enum:
                                - pending
                                - confirmed
                                - preparing
                                - ready
                                - served
                                - cancelled
                                - completed
                                description: Order status
                              items:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    itemId:
                                      type: string
                                      description: Menu item ID
                                    name:
                                      type: string
                                      description: Item name
                                    quantity:
                                      type: integer
                                      description: Item quantity
                                    variantIndex:
                                      type: integer
                                      description: Variant index
                                    variantName:
                                      type: string
                                      description: Variant name
                                    variantPrice:
                                      type: number
                                      description: Variant price
                                    addOns:
                                      type: array
                                      description: Add-on details
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: Add-on name
                                          price:
                                            type: number
                                            description: Add-on price
                                    addonsTotalPrice:
                                      type: number
                                      description: Total price of add-ons
                                    unitPrice:
                                      type: number
                                      description: Unit price
                                    itemTotal:
                                      type: number
                                      description: Total price for this item
                                    notes:
                                      type: string
                                      nullable: true
                                      description: Special instructions
                              subtotal:
                                type: number
                                description: Order subtotal before taxes/charges
                              taxAmount:
                                type: number
                                description: Tax amount for this order
                              discountAmount:
                                type: number
                                description: Discount amount for this order
                              totalAmount:
                                type: number
                                description: Total amount for this order
                        tip:
                          type: number
                          description: Tip amount for this participant
                        subtotal:
                          type: number
                          description: Subtotal for this participant's orders
                        total:
                          type: number
                          description: Total amount including tip for this participant
                  sessionSummary:
                    type: object
                    properties:
                      totalOrders:
                        type: integer
                        description: Total number of orders in the session
                      totalParticipants:
                        type: integer
                        description: Total number of participants
                      subtotal:
                        type: number
                        description: Total subtotal before taxes/charges/tips
                      taxAmount:
                        type: number
                        description: Total tax amount
                      chargeAmount:
                        type: number
                        description: Total additional charges
                      discountAmount:
                        type: number
                        description: Total discount amount
                      tipAmount:
                        type: number
                        description: Total tip amount
                      grandTotal:
                        type: number
                        description: Final grand total
                  taxes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Tax ID
                        name:
                          type: string
                          description: Tax name
                        rate:
                          type: number
                          description: Tax rate
                        type:
                          type: string
                          enum:
                          - percentage
                          - fixed
                          description: Tax calculation type
                        amount:
                          type: number
                          description: Calculated tax amount
                  charges:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Charge ID
                        name:
                          type: string
                          description: Charge name
                        amount:
                          type: number
                          description: Charge amount
                        type:
                          type: string
                          enum:
                          - percentage
                          - fixed
                          description: Charge calculation type
                        calculatedAmount:
                          type: number
                          description: Calculated charge amount
                  createdAt:
                    type: string
                    format: date-time
                    description: Session creation timestamp
                  updatedAt:
                    type: string
                    format: date-time
                    description: Session last update timestamp
        '404':
          description: Session not found
  /ordering-session/session/{sessionId}/tip:
    post:
      tags:
      - Ordering Session - Patron
      summary: Add tip to ordering session
      description: Add a tip to the ordering session (can be session-wide or per-participant)
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tip:
                  type: number
                  description: Tip amount
                sessionUserId:
                  type: string
                  description: Optional participant ID for per-participant tips
      responses:
        '200':
          description: Tip added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                    description: Ordering session ID
                  tip:
                    type: number
                    description: Tip amount added
                  sessionUserId:
                    type: string
                    nullable: true
                    description: Participant ID if tip is for specific participant
                  createdAt:
                    type: string
                    format: date-time
                    description: Tip creation timestamp
        '400':
          description: Bad request - invalid tip data
        '404':
          description: Session or participant not found
  /ordering-session/session/{sessionId}/tip/participant:
    post:
      tags:
      - Ordering Session - Patron
      summary: Add or update tip for a specific participant
      description: Add or update a tip amount for a specific participant in the ordering session
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - sessionUserId
              - tip
              properties:
                sessionUserId:
                  type: string
                  description: Participant ID
                tip:
                  type: number
                  description: Tip amount
      responses:
        '200':
          description: Participant tip added/updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                    description: Ordering session ID
                  sessionUserId:
                    type: string
                    description: Participant ID
                  tip:
                    type: number
                    description: Tip amount
                  createdAt:
                    type: string
                    format: date-time
                    description: Tip creation/update timestamp
        '400':
          description: Bad request - invalid tip data
        '404':
          description: Session or participant not found
    delete:
      tags:
      - Ordering Session - Patron
      summary: Remove tip for a specific participant
      description: Remove the tip for a specific participant in the ordering session
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - sessionUserId
              properties:
                sessionUserId:
                  type: string
                  description: Participant ID
      responses:
        '200':
          description: Participant tip removed successfully
        '400':
          description: Bad request - invalid participant data
        '404':
          description: Session or participant not found
  /ordering-session/session/{sessionId}/tips:
    get:
      tags:
      - Ordering Session - Patron
      summary: Get tips for an ordering session
      description: Retrieve all tips for an ordering session or tips for a specific participant
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      - in: query
        name: sessionUserId
        required: false
        schema:
          type: string
        description: Optional participant ID to filter tips for specific participant
      responses:
        '200':
          description: Tips retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                    description: Ordering session ID
                  tips:
                    type: array
                    items:
                      type: object
                      properties:
                        sessionUserId:
                          type: string
                          description: Participant ID
                        tip:
                          type: number
                          description: Tip amount
                        createdAt:
                          type: string
                          format: date-time
                          description: Tip creation timestamp
                        updatedAt:
                          type: string
                          format: date-time
                          description: Tip last update timestamp
                  totalTipAmount:
                    type: number
                    description: Total tip amount for the session
        '404':
          description: Session not found
  /ordering-session/session/{sessionId}/split:
    post:
      tags:
      - Ordering Session - Patron
      - Ordering Session - Business
      summary: Calculate bill split for a session
      description: Calculate how the session bill should be split among participants
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              properties:
                type:
                  type: string
                  enum:
                  - equal
                  - participant
                  - custom
                  description: Split type
                numberOfSplits:
                  type: integer
                  description: Number of splits (used for 'equal' type)
                amounts:
                  type: array
                  items:
                    type: number
                  description: Array of split amounts (used for 'custom' type)
      responses:
        '200':
          description: Split calculated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                        description: Total amount to be split
                      splits:
                        type: array
                        items:
                          type: object
                          properties:
                            index:
                              type: integer
                              description: Split index
                            amount:
                              type: number
                              description: Amount for this split
                            paid:
                              type: boolean
                              description: Whether this split has been paid
                            paidAt:
                              type: string
                              format: date-time
                              nullable: true
                              description: Timestamp when this split was paid
                            paidBy:
                              type: string
                              nullable: true
                              description: Identifier of payer
                            method:
                              type: string
                              nullable: true
                              description: Payment method used
                            sessionUserId:
                              type: string
                              nullable: true
                              description: Participant ID (for participant-based splits)
                      allPaid:
                        type: boolean
                        description: Whether all splits are marked as paid
        '400':
          description: Bad request - invalid split parameters
        '404':
          description: Session not found
  /ordering-session/session/{sessionId}/split/{splitIndex}/pay:
    put:
      tags:
      - Ordering Session - Business
      summary: Mark a split as paid
      description: Mark a specific split as paid for a session
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      - in: path
        name: splitIndex
        required: true
        schema:
          type: integer
        description: Split index (0-based)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Amount paid (defaults to split amount)
                method:
                  type: string
                  description: Payment method (e.g., cash, card)
                paidBy:
                  type: string
                  description: Identifier of who paid
      responses:
        '200':
          description: Split marked as paid successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sessionId:
                        type: string
                        description: Ordering session ID
                      splitIndex:
                        type: integer
                        description: Split index
                      splits:
                        type: array
                        items:
                          type: object
                          properties:
                            index:
                              type: integer
                              description: Split index
                            amount:
                              type: number
                              description: Amount for this split
                            paid:
                              type: boolean
                              description: Whether this split has been paid
                            paidAt:
                              type: string
                              format: date-time
                              nullable: true
                              description: Timestamp when this split was paid
                            paidBy:
                              type: string
                              nullable: true
                              description: Identifier of payer
                            method:
                              type: string
                              nullable: true
                              description: Payment method used
                      allPaid:
                        type: boolean
                        description: Whether all splits are marked as paid
                      message:
                        type: string
                        description: Confirmation message
        '400':
          description: Bad request - invalid split or payment data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Session not found
  /ordering-session/session/{sessionId}/ordered-items:
    get:
      tags:
      - Ordering Session - Patron
      - Ordering Session - Business
      summary: Get all ordered items for a session
      description: Retrieve a list of all items that have been ordered in the session across all participants
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      responses:
        '200':
          description: Ordered items retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                    description: Ordering session ID
                  orderedItems:
                    type: array
                    items:
                      type: object
                      properties:
                        itemId:
                          type: string
                          description: Menu item ID
                        name:
                          type: string
                          description: Item name
                        quantity:
                          type: integer
                          description: Total quantity ordered for this item across all orders
                        variantIndex:
                          type: integer
                          description: Variant index if applicable
                        variantName:
                          type: string
                          description: Variant name if applicable
                        variantPrice:
                          type: number
                          description: Variant price if applicable
                        addOns:
                          type: array
                          description: Add-on details if applicable
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Add-on name
                              price:
                                type: number
                                description: Add-on price
                        totalQuantity:
                          type: integer
                          description: Total quantity of this item ordered in the session (including all variants and add-ons)
        '404':
          description: Session not found
  /ordering-session/business/session/{sessionId}:
    put:
      tags:
      - Ordering Session - Business
      summary: Update ordering session details
      description: Update session expiry time, notes, and other metadata
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionExpiryMinutes:
                  type: integer
                  minimum: 10
                  description: Session expiry in minutes from now
                notes:
                  type: string
                  nullable: true
                  description: Business notes about the session
      responses:
        '200':
          description: Session updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '400':
          description: Invalid expiry minutes (must be >= 10)
        '403':
          description: Session does not belong to this business
  /ordering-session/business/session/{sessionId}/change-space:
    put:
      tags:
      - Ordering Session - Business
      summary: Change space assigned to session
      description: Change the space/table assigned to an ordering session (business action)
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: sessionId
        required: true
        schema:
          type: string
        description: Ordering session ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - newSpaceId
              properties:
                newSpaceId:
                  type: string
                  description: New space ID to assign to the session
                reason:
                  type: string
                  description: Optional reason for changing the space
      responses:
        '200':
          description: Session space changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                    description: Ordering session ID
                  oldSpaceId:
                    type: string
                    description: Previous space ID
                  newSpaceId:
                    type: string
                    description: New space ID
                  changedAt:
                    type: string
                    format: date-time
                    description: Space change timestamp
        '400':
          description: Bad request - invalid space data or space unavailable
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Session or space not found
        '409':
          description: Space already occupied by another active session
  /business/billing/config:
    get:
      tags:
      - Billing - Business
      summary: Get billing configuration
      description: Retrieve the billing configuration for the business including taxes and charges
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Billing configuration retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  taxes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Tax ID
                        name:
                          type: string
                          description: Tax name
                        rate:
                          type: number
                          description: Tax rate
                        type:
                          type: string
                          enum:
                          - percentage
                          - fixed
                          description: Tax calculation type
                        isActive:
                          type: boolean
                          description: Whether the tax is active
                  charges:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Charge ID
                        name:
                          type: string
                          description: Charge name
                        amount:
                          type: number
                          description: Charge amount
                        type:
                          type: string
                          enum:
                          - percentage
                          - fixed
                          description: Charge calculation type
                        isActive:
                          type: boolean
                          description: Whether the charge is active
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
  /business/billing/taxes:
    get:
      tags:
      - Billing - Business
      summary: Get all taxes
      description: Retrieve all tax configurations for the business
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Taxes retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Tax ID
                        businessId:
                          type: string
                          description: Business ID
                        name:
                          type: string
                          description: Tax name
                        rate:
                          type: number
                          description: Tax rate
                        type:
                          type: string
                          enum:
                          - percentage
                          - fixed
                          description: Tax calculation type
                        isActive:
                          type: boolean
                          description: Whether the tax is active
                        createdAt:
                          type: string
                          format: date-time
                          description: Tax creation timestamp
                        updatedAt:
                          type: string
                          format: date-time
                          description: Tax last update timestamp
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
    post:
      tags:
      - Billing - Business
      summary: Add tax configuration
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                percentage:
                  type: number
                description:
                  type: string
      responses:
        '201':
          description: Tax added successfully
  /business/billing/taxes/{taxId}:
    get:
      tags:
      - Billing - Business
      summary: Get a specific tax
      description: Retrieve details of a specific tax configuration
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: taxId
        required: true
        schema:
          type: string
        description: Tax ID
      responses:
        '200':
          description: Tax retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Tax ID
                  businessId:
                    type: string
                    description: Business ID
                  name:
                    type: string
                    description: Tax name
                  rate:
                    type: number
                    description: Tax rate
                  type:
                    type: string
                    enum:
                    - percentage
                    - fixed
                    description: Tax calculation type
                  isActive:
                    type: boolean
                    description: Whether the tax is active
                  createdAt:
                    type: string
                    format: date-time
                    description: Tax creation timestamp
                  updatedAt:
                    type: string
                    format: date-time
                    description: Tax last update timestamp
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Tax not found
    put:
      tags:
      - Billing - Business
      summary: Update an existing tax
      description: Update the details of an existing tax configuration
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: taxId
        required: true
        schema:
          type: string
        description: Tax ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - rate
              - type
              properties:
                name:
                  type: string
                  description: Name of the tax (e.g., GST, VAT, Sales Tax)
                rate:
                  type: number
                  description: Tax rate (percentage value, e.g., 18.0 for 18%)
                type:
                  type: string
                  enum:
                  - percentage
                  - fixed
                  description: Type of tax calculation
                isActive:
                  type: boolean
                  description: Whether the tax is currently active
                  default: true
      responses:
        '200':
          description: Tax updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the tax
                  businessId:
                    type: string
                    description: Business ID this tax belongs to
                  name:
                    type: string
                    description: Name of the tax (e.g., GST, VAT, Sales Tax)
                  rate:
                    type: number
                    description: Tax rate (percentage value, e.g., 18.0 for 18%)
                  type:
                    type: string
                    enum:
                    - percentage
                    - fixed
                    description: Type of tax calculation
                  isActive:
                    type: boolean
                    description: Whether the tax is currently active
                  createdAt:
                    type: string
                    format: date-time
                    description: Tax creation timestamp
                  updatedAt:
                    type: string
                    format: date-time
                    description: Tax last update timestamp
        '400':
          description: Bad request - invalid tax data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Tax not found
    delete:
      tags:
      - Billing - Business
      summary: Delete a tax
      description: Remove a tax configuration from the business
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: taxId
        required: true
        schema:
          type: string
        description: Tax ID
      responses:
        '204':
          description: Tax deleted successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Tax not found
  /business/billing/charges:
    get:
      tags:
      - Billing - Business
      summary: Get all charges
      description: Retrieve all charge configurations for the business
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Charges retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Charge ID
                        businessId:
                          type: string
                          description: Business ID
                        name:
                          type: string
                          description: Charge name
                        amount:
                          type: number
                          description: Charge amount
                        type:
                          type: string
                          enum:
                          - percentage
                          - fixed
                          description: Charge calculation type
                        isActive:
                          type: boolean
                          description: Whether the charge is active
                        createdAt:
                          type: string
                          format: date-time
                          description: Charge creation timestamp
                        updatedAt:
                          type: string
                          format: date-time
                          description: Charge last update timestamp
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
    post:
      tags:
      - Billing - Business
      summary: Add charge configuration
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
                  enum:
                  - percentage
                  - fixed
                amount:
                  type: number
                description:
                  type: string
                applicableFor:
                  type: string
      responses:
        '201':
          description: Charge added successfully
  /business/billing/charges/{chargeId}:
    get:
      tags:
      - Billing - Business
      summary: Get a specific charge
      description: Retrieve details of a specific charge configuration
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: chargeId
        required: true
        schema:
          type: string
        description: Charge ID
      responses:
        '200':
          description: Charge retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Charge ID
                  businessId:
                    type: string
                    description: Business ID
                  name:
                    type: string
                    description: Charge name
                  amount:
                    type: number
                    description: Charge amount
                  type:
                    type: string
                    enum:
                    - percentage
                    - fixed
                    description: Charge calculation type
                  isActive:
                    type: boolean
                    description: Whether the charge is active
                  createdAt:
                    type: string
                    format: date-time
                    description: Charge creation timestamp
                  updatedAt:
                    type: string
                    format: date-time
                    description: Charge last update timestamp
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Charge not found
    put:
      tags:
      - Billing - Business
      summary: Update an existing charge
      description: Update the details of an existing charge configuration
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: chargeId
        required: true
        schema:
          type: string
        description: Charge ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - amount
              - type
              properties:
                name:
                  type: string
                  description: Name of the charge (e.g., Service Charge, Delivery Fee)
                amount:
                  type: number
                  description: Charge amount (percentage or fixed value)
                type:
                  type: string
                  enum:
                  - percentage
                  - fixed
                  description: Type of charge calculation
                isActive:
                  type: boolean
                  description: Whether the charge is currently active
                  default: true
      responses:
        '200':
          description: Charge updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the charge
                  businessId:
                    type: string
                    description: Business ID this charge belongs to
                  name:
                    type: string
                    description: Name of the charge (e.g., Service Charge, Delivery Fee)
                  amount:
                    type: number
                    description: Charge amount (percentage or fixed value)
                  type:
                    type: string
                    enum:
                    - percentage
                    - fixed
                    description: Type of charge calculation
                  isActive:
                    type: boolean
                    description: Whether the charge is currently active
                  createdAt:
                    type: string
                    format: date-time
                    description: Charge creation timestamp
                  updatedAt:
                    type: string
                    format: date-time
                    description: Charge last update timestamp
        '400':
          description: Bad request - invalid charge data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Charge not found
    delete:
      tags:
      - Billing - Business
      summary: Delete a charge
      description: Remove a charge configuration from the business
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: chargeId
        required: true
        schema:
          type: string
        description: Charge ID
      responses:
        '204':
          description: Charge deleted successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Charge not found
  /discounts/business/discounts:
    post:
      tags:
      - Discounts - Business
      summary: Create a new discount code
      description: Create a new discount code for the business
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - code
              - type
              - value
              properties:
                code:
                  type: string
                  description: Unique discount code
                description:
                  type: string
                  description: Description of the discount
                type:
                  type: string
                  enum:
                  - percentage
                  - fixed
                  description: Type of discount
                value:
                  type: number
                  description: Discount value (percentage or fixed amount)
                usageLimit:
                  type: integer
                  description: Maximum number of times the code can be used
                isActive:
                  type: boolean
                  description: Whether the discount is active
                  default: true
      responses:
        '201':
          description: Discount code created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Discount code ID
                  businessId:
                    type: string
                    description: Business ID
                  code:
                    type: string
                    description: Discount code
                  description:
                    type: string
                    description: Description
                  type:
                    type: string
                    enum:
                    - percentage
                    - fixed
                    description: Discount type
                  value:
                    type: number
                    description: Discount value
                  usageLimit:
                    type: integer
                    description: Usage limit
                  usedCount:
                    type: integer
                    description: Number of times used
                  isActive:
                    type: boolean
                    description: Active status
                  createdAt:
                    type: string
                    format: date-time
                    description: Creation timestamp
                  updatedAt:
                    type: string
                    format: date-time
                    description: Update timestamp
        '400':
          description: Bad request - invalid discount data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
    get:
      tags:
      - Discounts - Business
      summary: Get all discount codes
      description: Retrieve all discount codes for the business
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Discount codes retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Discount code ID
                        businessId:
                          type: string
                          description: Business ID
                        code:
                          type: string
                          description: Discount code
                        description:
                          type: string
                          description: Description
                        type:
                          type: string
                          enum:
                          - percentage
                          - fixed
                          description: Discount type
                        value:
                          type: number
                          description: Discount value
                        usageLimit:
                          type: integer
                          description: Usage limit
                        usedCount:
                          type: integer
                          description: Number of times used
                        isActive:
                          type: boolean
                          description: Active status
                        createdAt:
                          type: string
                          format: date-time
                          description: Creation timestamp
                        updatedAt:
                          type: string
                          format: date-time
                          description: Update timestamp
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
  /discounts/business/discounts/{discountCodeId}:
    get:
      tags:
      - Discounts - Business
      summary: Get a specific discount code
      description: Retrieve details of a specific discount code
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: discountCodeId
        required: true
        schema:
          type: string
        description: Discount code ID
      responses:
        '200':
          description: Discount code retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Discount code ID
                  businessId:
                    type: string
                    description: Business ID
                  code:
                    type: string
                    description: Discount code
                  description:
                    type: string
[...]
